@import "/src/App/variables";

.title {
  text-align: center;
}

.itemContainer {
  border-radius: 15px;
  margin: 10px -15px;
  padding: 0 10px 0 10px;
  background: $black20;
}

.audioTitleContainer {
  display: flex;
  align-items: center;
}

.audioTitle {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.audioTitleButton {
  flex: 0 0 32px;
}

.audioContainer {
  border-top: 1px solid $white20;
  padding: 10px 0 10px 0;
}