@import "src/App/variables";

.container, .containerInline {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $black80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
}

.image {
  width: 50px;
  height: 80px;
}

.containerInline .image {
  width: 70px;
  height: 40px;
}

.text {
  font-size: 20px;
  font-weight: bold;
}
