@import "/src/App/variables";

.actionContainer {
  padding: 15px 0;
}

.actionTitle {
  margin: 30px -30px 0 -30px;
  padding: 30px 30px 25px 30px;
  border-top: 2px solid $white60;
}

.actionListContainer, .inventoryUpdatesContainer {
  border-top: 1px dashed $white30;
  border-bottom: 1px dashed $white30;
  padding: 15px 0 10px 0;
}
.inventoryUpdatesContainer {
  display: flex;
  flex-wrap: wrap;
}
.actionItem, .inventoryUpdate {
  border: 1px solid $blue;
  background: $blueDark;
  border-radius: 5px;
  margin-bottom: 3px;
}
.inventoryUpdate {
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 5px;
}
.actionItem[draggable="true"] {
  cursor: ns-resize;
}
.actionItem * {
  pointer-events: none;
}
.actionItemDragOver {
  box-shadow: 0px 0px 8px 4px $white60;
}

.actionItemDefaultChoice {
  border: 2px solid $orange;
}

.actionItemTitle {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.actionItemDefaultChoice .actionItemTitle {
  padding: 4px 9px;
}

.actionItemText {
  flex: 1;
  padding-right: 5px;
}

.actionItemButton {
  pointer-events: auto;
  flex: 0 0 auto;
  padding: 2px 5px;
}


.actionNewItemTitle {
  text-align: center;
  padding: 20px 0 15px 0;
}

.actionNewItemTitle2 {
  text-align: center;
  padding-bottom: 10px;
}

.actionNewItemForm {
  display: flex;
  align-items: stretch;
  margin: 0 -15px;
}

.actionNewItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5px 15px;
}

.actionLinkDropContainer {
  flex: 0.5;
}

.actionLinkDrop {
  position: relative;
  height: 100%;
  border-radius: 5px;
  border: 3px dashed $white60;
}

.actionLinkDrop:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\f0c1";
  font-family: icons;
  font-size: 32px;
  font-weight: bold;
  color: $white60;
}

.actionLinkDragOver {
  border-color: $orange;
}

.actionLinkDragOver:before {
  color: $orange;
}

.actionNewItemButton {
  margin: 0 auto;
}

.conditionsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: $black10;
}

.conditionsContainer * {
  pointer-events: auto;
}

.conditionContainer {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  background: $purple1;
  display: flex;
  align-items: center;
}

.conditionButton {
  font-size: 16px;
  padding: 2px;
  margin-left: 6px;
}

.conditionFormContainer {
  flex: 0 0 100%;
  background: $black20;
}

.conditionTitle {
  text-align: center;
  font-size: 14px;
}

.conditionForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conditionInputSmall {
  width: 44px;
}

.conditionInputMedium {
  width: 64px;
}

.conditionInputWide {
  width: 84px;
}

.conditionTitle,
.conditionForm,
.conditionInputSmall,
.conditionInputMedium,
.conditionInputWide {
  padding: 0 2px;
}