@import "/src/App/variables";

.paramsContainer {
  position: relative;
  flex: 0 0 33%;
  background: $purple1;
}

.paramsForms {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  padding: 30px;
}
