@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url("fa-regular-400.woff2") format("woff2");
}

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: bold;
  src: url("fa-solid-900.woff2") format("woff2");
}
