@import "/src/App/variables";

.container {
  width: 370px;
  padding: 20px;
  box-shadow: inset -2px -2px 7px 0px $black30, inset 2px 2px 5px 0px $white10;
}

.images {
  position: relative;
  width: 330px;
  height: 250px;
  border: 5px solid $black;
  background-color: $black;
}

.images > * {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.imageStory {
  z-index: 1;
}

.imageInventory {
  z-index: 2;
}

.buttons {
  position: relative;
  height: 150px;
}

.stageTitle {
  background: $black60;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonLeft,
.buttonUp,
.buttonRight,
.buttonDown {
  position: absolute;
  background: $black;
  border-radius: 5px;
}

.buttonLeft,
.buttonRight {
  top: 74px;
  width: 50px;
}

.buttonLeft {
  left: 20px;
  padding-right: 25px;
}

.buttonRight {
  left: 70px;
  padding-left: 25px;
}

.buttonDown,
.buttonUp {
  left: 51px;
}
.buttonUp {
  top: 37px;
  padding-bottom: 25px;
}

.buttonDown {
  top: 90px;
  padding-top: 25px;
}

.buttonM,
.buttonX,
.buttonY,
.buttonA,
.buttonB {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid $black;
  box-shadow: -2px -2px 5px 0px $black30, 1px 1px 5px 0px $white30, inset -2px -2px 7px 0px $black40, inset 1px 1px 5px 0px $white40;
}

.buttonM {
  left: 144px;
  top: 30px;
  background-color: $black;
}

.buttonX {
  left: 240px;
  top: 42px;
  background-color: $indigo;
}

.buttonY {
  left: 206px;
  top: 76px;
  background-color: $green;
}

.buttonA {
  left: 274px;
  top: 76px;
  background-color: $red;
}

.buttonB {
  left: 240px;
  top: 110px;
  background-color: $orange;
}


.inventory {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
}

.inventoryList {
  display: flex;
  justify-content: center;
}

.inventoryItemContainer {
  position: relative;
}

.inventoryItemImage {
  width: 40px;
  height: 40px;
  display: block;
}

.inventoryItemCounter {
  position: absolute;
  bottom: -1px;
  right: 0;
  padding: 0 1px;
  color: $white90;
  font-size: 12px;
  font-weight: bold;
}

.inventoryItemBarBg {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  height: 7px;
  border-radius: 3px;
  border: 2px solid $black;
  background: rgb(75, 75, 75);
}
.inventoryItemBar {
  height: 3px;
  border-radius: 1px;
  background: $white80;
}