$orange: #ffa900;
$blue: #00ffe4;
$blueDark: #008779;
$red: #ff3217;
$indigo: #1375e4;
$green: #81c21b;
$purple1: #3c1860;
$purple2: #250a41;

$white5: rgba(255, 255, 255, 0.05);
$white7: rgba(255, 255, 255, 0.09);
$white10: rgba(255, 255, 255, 0.1);
$white15: rgba(255, 255, 255, 0.15);
$white20: rgba(255, 255, 255, 0.2);
$white30: rgba(255, 255, 255, 0.3);
$white40: rgba(255, 255, 255, 0.4);
$white50: rgba(255, 255, 255, 0.5);
$white60: rgba(255, 255, 255, 0.6);
$white70: rgba(255, 255, 255, 0.7);
$white80: rgba(255, 255, 255, 0.8);
$white90: rgba(255, 255, 255, 0.9);
$white: rgb(255, 255, 255);

$black10: rgba(0, 0, 0, 0.1);
$black20: rgba(0, 0, 0, 0.2);
$black30: rgba(0, 0, 0, 0.3);
$black40: rgba(0, 0, 0, 0.4);
$black50: rgba(0, 0, 0, 0.5);
$black60: rgba(0, 0, 0, 0.6);
$black70: rgba(0, 0, 0, 0.7);
$black80: rgba(0, 0, 0, 0.8);
$black90: rgba(0, 0, 0, 0.9);
$black: rgb(0, 0, 0);
