@import "src/App/variables";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.label {
  margin: 5px 15px 5px 0;
  min-width: 120px;
}

.input {
  border-radius: 15px;
  color: $black;
  padding: 5px 8px;
  border: 2px solid $blueDark;
  width: 250px;
  outline: none;
}

.input:hover, .input:focus {
  border-color: $orange;
}


.inputRange {
  z-index: 1;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 250px;
}

.inputRange::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
  background: $white30;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $orange;
  color: $orange;
  cursor: pointer;
}

.inputRangeValue {
  position: absolute;
  z-index: 0;
  font-size: 12px;
  bottom: 0;
  right: 0;
}
