@import "src/App/variables";

.container, .containerVertical {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.containerVertical {
  flex-direction: column;
  align-items: stretch;
}

.label {
  margin: 5px 15px 5px 0;
  flex: 0 1 auto;
}

.input, .textarea, .select {
  flex: 0 0 auto;
  width: 250px;
  border-radius: 15px;
  color: $black;
  padding: 5px 8px;
  border: 2px solid $blueDark;
  transition: border-color 0.3s;
}

.textarea {
  height: 140px;
}

.input:hover, .input:focus,
.select:hover, .select:focus,
.textarea:hover, .textarea:focus {
  border: 2px solid $orange;
}

.option {
  color: $black;
}

.option:active,
.option:focus,
.option:hover,
.option:checked {
  color: $white;
  background: $blueDark;
}

.inputRange {
  z-index: 1;
  background: transparent;
  flex: 0 0 auto;
  width: 250px;
}

.inputRange::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
  background: $white30;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $orange;
  color: $orange;
  cursor: pointer;
}

.inputRangeValue {
  position: absolute;
  z-index: 0;
  font-size: 12px;
  bottom: 0;
  right: 0;
}


.containerVertical .input,
.containerVertical .textarea,
.containerVertical .select,
.containerVertical .inputRange {
  width: 100%;
}


.inputSwitch {
  flex: 0 0 auto;
  position: relative;
  width: 48px;
  height: 28px;
}

.inputSwitchI, .inputSwitchS {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.inputSwitchI {
  z-index: 1;
  opacity: 0;
}

.inputSwitchS {
  border-radius: 15px;
  background: $white30;
}

.inputSwitchS:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: $red;
  transition: background-color 0.3s, transform 0.3s;
}

.inputSwitchI:checked + .inputSwitchS:before {
  background: $orange;
  transform: translateX(20px);
}

.inputImageContainer,
.inputAudioFile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed $white60;
  border-radius: 15px;
  margin-top: 5px;
  overflow: hidden;
}

.inputImageContainer:before,
.inputAudioFile:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\f03e";
  font-family: icons;
  font-size: 64px;
  font-weight: bold;
  color: $white60;
}

.inputAudioFile:before {
  content: "\f001";
  font-size: 24px;
  padding: 5px 0;
}

.inputImageContainer {
  flex: 0 0 200px;
  height: 200px;
}

.inputAudioFile {
  flex: 1;
  margin: 5px;
}

.inputImage,
.inputAudio {
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.inputImageImg {
  z-index: 2;
  height: 100%;
  width: auto;
}

.inputAudioContainer {
  display: flex;
  align-items: stretch;
}

.inputAudioButton {
  flex: 1;
  border-radius: 15px;
  margin: 5px;
  padding: 15px 0;
  font-size: 24px;
  color: $white;
  background: $white30;
}
