@import "src/App/variables";


.button {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
}

.icon {
  font-family: icons;
  font-weight: bold;
  padding-right: 10px;
}

.button:hover {
  color: $white;
}

.buttonRounded {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $orange;
  color: $purple;
}

.buttonRounded:hover {
  background-color: $orange;
}
