@import "src/App/variables";

.tableContainer {
  position: relative;
  background: $purple2;
  border-radius: 10px;
  flex: 1;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  border: 3px solid $black60;
  box-shadow: 0px 0px 10px 0px $white10;
  transition: border-color 0.3s;
}

.header {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: $white15;
  padding: 7px 15px;
}

.headerTitleLeft,
.headerTitleRight {
  flex: 1;
  padding: 1px 0;
  font-size: 14px;
  color: $white90;
  font-weight: normal;
}

.headerTitleRight,
.headerIcons {
  flex: 0 1 auto;
}

.headerIcons {
  display: flex;
  padding-right: 10px;
}

.headerIcon {
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
}

.headerSearchContainer {
  position: relative;
  width: 140px;
}
.headerSearchInput {
  padding: 1px 4px 1px 4px;
  background: $white60;
  border-radius: 3px;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  color: $purple2;
  width: 100%;
}
.headerSearchReset {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2px 0 0;
  color: $purple;
}

.content {
  position: relative;
  flex: 1;
  background: $black10;
}

.contentScroller {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.cells {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.cellGroup {
  flex: 0 0 100%;
  width: 100%;
  background: $white7;
  padding: 5px 0 10px 0;
  margin: 10px;
  border-radius: 15px;
}

.cellGroupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0 15px 0 15px;
  border-bottom: 1px solid $white60;
}

.cellGroupButton {
  font-size: 14px;
}

.cell {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 185px;
  width: 185px;
  padding: 15px 15px 12px 15px;
  margin: 10px;
  border: 2px solid $white10;
  border-radius: 10px;
  overflow: hidden;
  background: $white15;
  transition: border-color 0.3s, background-color 0.3s;
}

.cell:hover {
  color: $white;
  background: $blueDark;
  border-color: $blue;
}

.cell:before,
.cell:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.cell:before {
  content: "";
  bottom: -35px;
  right: -35px;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  background: $orange;
}

.cell:after {
  content: "\f00c";
  bottom: 6px;
  right: 6px;
  font-family: icons;
  font-size: 20px;
  font-weight: bold;
  color: $purple;
}

.cellSelected, .cellSelected:hover {
  border-color: $orange;
}

.cellSelected:before,
.cellSelected:after {
  opacity: 1;
}

.cellDisabled {
  opacity: 0.3;
}

.cellTitle, .cellSubtitle {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellTitle {
  order: 2;
  font-size: 14px;
  height: 41px;
}

.cellSubtitle {
  order: 3;
  font-size: 12px;
  height: 35px;
}

.cellEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.imageContainer {
  position: relative;
  z-index: 0;
  order: 1;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background: $black;
}

.cellImage {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: $black;
  box-shadow: 0px 0px 40px 0px $black60;
}

.cellImageBackground {
  z-index: 0;
  position: absolute;
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  opacity: 0.6;
}

.cellImageLabel,
.cellImageLabel:before {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  color: $white;
  font-family: icons;
  font-weight: bold;
  font-size: 20px;
}

.cellImageLabel:before {
  z-index: -1;
  margin: 0 -35px -35px 0;
  content: "";
  transform: rotate(45deg);
  background: $blueDark;
  width: 60px;
  height: 60px;
}

.cellActionBar {
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  overflow: hidden;
  height: 0;
  background: $blue;
  transition: height 0.3s, background 0.3s;
}

.cellActionButton {
  font-size: 16px;
  color: $purple;
}

.cellSelected .cellActionBar {
  background: $orange;
}

.cell:hover .cellActionBar {
  height: 30px;
}


.groupList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.groupListImage {
  border-radius: 10px;
  flex: 0 1 160px;
  width: 160px;
  height: auto;
  margin: 30px;
}

.listContainer {
  flex: 0 1 100%;
  overflow: hidden;
}

.list {
  cursor: pointer;
  padding: 4px;
  overflow-wrap: break-word;
  transition: color 0.3s;
}

.list:hover {
  color: $white;
}

.listSelected, .listSelected:hover {
  color: $orange;
}

.listSelected:before {
  display: inline-block;
  padding-right: 10px;
  content: "\f00c";
  font-family: icons;
  font-weight: bold;
  color: $orange;
}
