@import "/src/App/variables";

.graphContainer {
  position: relative;
  flex: 1;
}

.graph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  cursor: move;
}

.nodeStage, .nodeStageSelected {
  position: relative;
  cursor: pointer;
  background: $blueDark;
  border: 1px solid $blue;
  border-radius: 5px;
  margin: 0px 7px;
  width: 66px;
  height: 66px;
}

.nodeStageSelected {
  background: $orange;
  border: 1px solid $orange;
}

.nodeStageAutoplay:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top-color: $blue;
}

.nodeStageSelected.nodeStageAutoplay:before {
  border-top-color: $orange;
}

.nodeStageOkButton:after {
  position: absolute;
  z-index: 1;
  right: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  content: "A";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: $purple1;
  background: $blue;
  border: 1px solid $purple1;
}
.nodeStageSelected.nodeStageOkButton:after {
  background: $orange;
}

.nodeStageImg, .nodeStageImg img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 64px;
  height: 48px;
}

.nodeStageImg {
  overflow: hidden;
  background: $black;
}

.nodeStageTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: $white;
  font-weight: normal;
  text-align: center;
}

.nodeActionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodeAction {
  cursor: pointer;
  min-width: 10px;
  min-height: 10px;
  background: $white60;
  border: 1px solid $white40;
  border-radius: 5px;
}

.line {
  fill: none;
  stroke-width: 2px;
  stroke: $white30;
}

.text {
  font-size: 10px;
  fill: $white40;
  dominant-baseline: central;
  padding-right: 50px;
}